.card {
    position: relative;
    overflow: auto;

    background-color: white;
    padding-left: 5px;

    border-top: 1px solid gray;
    margin-left: 5px;
    margin-right: 5px;
}

.card_main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.card_icon {
    flex: initial;
    align-self: top;
}

.card_name {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: auto;
    font-weight: bold;
    display: none;
}

.card_text {
    flex: 1;
    align-self: center;
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
}