.subtitle_div {
    padding: 10px;
}

.subtitle_label {
    display: block;

    background: white;

  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;

  border-radius: 5px;

  padding: 1rem;

  cursor: pointer;
} 
.subtitle_content {
    background: white;
    border-radius: 0px 0px 5px 5px;
}  